<div class="header">
  <a
    href="/index.html"
    style="text-decoration: none; color: #94e8bf; text-shadow: 0 0 2px #0f3866, 0 0 5px #0f3866 ;font-weight: bolder; font-size: 4em;"
  >GLOBAL</a><a
    href="/index.html"
    style="text-decoration: none; color: #0f3866; text-shadow: 0 0 2px #94e8bf, 0 0 5px #94e8bf;font-weight: bolder; font-size: 4em;"
  >PuTTY</a>
</div>