<div class="header">
  <span style="color: #94e8bf; text-shadow: 0 0 2px #0f3866, 0 0 5px #0f3866">
    GLOBAL
  </span>
  <span style="color: #0f3866; text-shadow: 0 0 2px #94e8bf, 0 0 5px #94e8bf">
    PuTTY
  </span>
</div>