<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/styles/stylecctvpage.css" />
    <link rel="stylesheet" href="assets/styles/header.css" />
    <link rel="stylesheet" href="assets/styles/footer.css" />
    <link rel="icon" href="assets/images/cropped-favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="assets/images/cropped-favicon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="assets/images/cropped-favicon-180x180.png">
    <meta name="msapplication-TileImage" content="assets/images/cropped-favicon-270x270.png">
    <title>{{title}}</title>
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>
</html>