<body class="a4">
  <div class="subheader">CCTV A4</div>

  <div class="maincontainer">
    <a class="tooltip" href="a4_1">
      <input type="button" value="89 &rarr; 122" />
      <span class="tooltiptext">Viaduto do Corgo
        <br />
        Murça</span>
    </a>
    <a class="tooltip" href="a4_2">
      <input type="button" value="123 &rarr; 168" />
      <span class="tooltiptext">Murça
        <br />
        Amendoeira</span>
    </a>
    <a class="tooltip" href="a4_3">
      <input type="button" value="170 &rarr; 193" />
      <span class="tooltiptext">Amendoeira
        <br />
        Mós</span>
    </a>
    <a class="tooltip" href="a4_4">
      <input type="button" value="194 &rarr; 223" />
      <span class="tooltiptext">Mós
        <br />
        Quintanilha</span>
    </a>
  </div>
  <div class="go_back_button">
    <a href="cctv">
      <img src="assets/images/back_arrow.png" />
      <img class="img_hover" src="assets/images/back_arrow_hover.png" />
    </a>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="go_home_button">
    <a href="/">
      <img src="assets/images/home.png" />
      <img class="img_hover" src="assets/images/home_hover.png" />
    </a>
  </div>
</body>