<body class="a4_2">

  <div class="subheader">CCTV 123 &rarr; 168</div>

  <div class="maincontainer">
    <a class="tooltip" href="">
      <input type="button" value="89" />
    </a>
    <a href="">
      <input type="button" value="91" />
    </a>
    <a href="">
      <input type="button" value="92.2" />
    </a>
    <a href="">
      <input type="button" value="92.3" />
    </a>
    <a href="">
      <input type="button" value="92.5" />
    </a>
    <a href="">
      <input type="button" value="93" />
    </a>
    <a href="">
      <input type="button" value="93.2" />
    </a>
    <a href="">
      <input type="button" value="94.3" />
    </a>
    <a href="">
      <input type="button" value="96" />
    </a>
    <a href="">
      <input type="button" value="96.1" />
    </a>
    <a href="">
      <input type="button" value="98" />
    </a>
    <a href="">
      <input type="button" value="99" />
    </a>
    <a href="">
      <input type="button" value="101" />
    </a>
    <a href="">
      <input type="button" value="102" />
    </a>
    <a href="">
      <input type="button" value="102 T" />
    </a>
    <a href="">
      <input type="button" value="104" />
    </a>
    <a href="">
      <input type="button" value="105" />
    </a>
    <a href="">
      <input type="button" value="106" />
    </a>
    <a href="">
      <input type="button" value="112" />
    </a>
    <a href="">
      <input type="button" value="115" />
    </a>
    <a href="">
      <input type="button" value="117" />
    </a>
  </div>
  <div class="go_back_button">
    <a href="a4">
      <img src="assets/images/back_arrow.png" />
      <img class="img_hover" src="assets/images/back_arrow_hover.png" />
    </a>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="go_home_button">
    <a href="/">
      <img src="assets/images/home.png" />
      <img class="img_hover" src="assets/images/home_hover.png" />
    </a>
  </div>
</body>