<body class="cams">
  <div class="subheader">CAMs</div>

  <div class="maincontainer">
    <a class="tooltip" href="">
      <input type="button" value="Lamares" />
    </a>
    <a href="">
      <input type="button" value="Rossas" />
    </a>
  </div>
  <div class="go_back_button">
    <a href="cctv">
      <img src="assets/images/back_arrow.png" />
      <img class="img_hover" src="assets/images/back_arrow_hover.png" />
    </a>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="go_home_button">
    <a href="/">
      <img src="assets/images/home.png" />
      <img class="img_hover" src="assets/images/home_hover.png" />
    </a>
  </div>
</body>