<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/styles/stream.css">
    <title></title>
  </head>
  <body>
    <div id="canvas-container"><canvas id="canvas"></canvas></div>
    

    <script src="assets/scripts/rtsp.js"></script>
    <script>
      loadPlayer({ url: 'ws://' + location.host + '/api/stream/' + {{id}}, canvas:
      document.getElementById('canvas') });
    </script>
  </body>
</html>