<body class="cctv_page">
  <div class="cctv_icon">
    <img src="assets/images/cctv_icon.png">
  </div>
  <div class="subheader">CCTV 00</div>
  <div class="maincontainer">
    <a class="tooltip" href="">
      <input type="button" value="Reset" />
      <span class="tooltiptext">Reiniciar a CCTV</span>
    </a>
    <a class="tooltip" href="">
      <input type="button" value="Transmissão" />
      <span class="tooltiptext">Imagem em direto</span>
    </a>
  </div>
  <div class="go_back_button">
    <a href="cctv">
      <img src="assets/images/back_arrow.png" />
      <img class="img_hover" src="assets/images/back_arrow_hover.png" />
    </a>
  </div>
  &nbsp; &nbsp; &nbsp; &nbsp;
  <div class="go_home_button">
    <a href="/">
      <img src="assets/images/home.png" />
      <img class="img_hover" src="assets/images/home_hover.png" />
    </a>
  </div>
</body>