<body class="cctv">
    <div class="subheader">CCTV</div>

    <div class="maincontainer">
      <a class="tooltip" href="a4">
        <input type="button" value="A4"/>
        <span class="tooltiptext">Viaduto do Corgo <br> Nó de Murça</span>
      </a>
      <a class="tooltip" href="ip2">
        <input type="button" value="IP2"/>
        <span class="tooltiptext">Itenerário Principal<br>IP2</span>
      </a>
      <a class="tooltip" href="cams">
        <input type="button" value="CAMs"/>
        <span class="tooltiptext">CAM Lamares <br> CAM Rossas</span>
      </a>
    </div>
  <div class="go_home_button">
      <a href="/">
          <img src="assets/images/home.png">
          <img class="img_hover" src="assets/images/home_hover.png">
      </a>
  </div>
  </body>