{{#if listExists}}
  <ul>
    {{#each equipamentoLista as |equipamento|}}
      <li class="adr">
        <form action="equipamento_{{equipamento.pk}}"  method="post">
          ADR {{equipamento.pk}} - {{equipamento.sublanco}}
          <br>
          <input type="submit" name="{{equipamento.pk}}" value="Select">
        </form>
        </li>
    {{/each}}
  </ul>
{{/if}}