<body class="ip2">
    <div class="subheader">Itenerário Principal <br> IP2</div>

    <div class="maincontainer">
      <a class="tooltip" href="">
        <input type="button" value="0.00"/>
      </a>
      <a href="">
        <input type="button" value="0.90" />
      </a>
    </div>
    <div class="go_back_button">
        <a href="cctv">
            <img src="assets/images/back_arrow.png">
            <img class="img_hover" src="assets/images/back_arrow_hover.png">
          </a>
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="go_home_button">
        <a href="/">
            <img src="assets/images/home.png">
            <img class="img_hover" src="assets/images/home_hover.png">
        </a>
    </div>
  </body>