* {
    margin: 0;
}

#canvas-container {
    width: 50%;
    margin: auto auto;
}

#canvas {
    width: 100%;
    margin: auto;
    text-align: center;
}

@media  only screen and (max-width: 1385px) {
    #canvas-container {
        width: 100%;
    }
}