@font-face {
    font-family: "FiraCode";
    src: url("/assets/fonts/FiraCodeNerdFontMono-Regular.ttf")
}
/*html, body {
    overflow-x: hidden;
}*/
body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    overflow-x: hidden;
}
h1 {
    text-align: center
}
#terminal-window {
    width: 960px;
    height: 600px;
    float:right;
    background-color: black;
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 5px 0 rgb(0, 0, 0);
    border-radius: 20px;
    #terminal-header {
        width: calc(100% - 40px);
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        background-color: rgb(138, 160, 160);
        color:white;
        padding: 10px 20px;
        font-weight: bold;
    }
    #terminal-container {
        width: 940px;
        height: 560px;
        padding: 10px;
        font-family: "FiraCode";
        .terminal {
            padding: 2px;
            &:hover {
                cursor:text;
            }
            &.disabled {
                pointer-events: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                user-select: none;
            }
            
            &:focus {
                .termminal-cursor {
                    background-color: #ffffff;
                }
            }
        }
    }
}

#buttonGroup {
    visibility: hidden;
}

#buttonGroup.show {
    visibility: visible !important;
    animation: fadeIn 0.25s forwards;
    -webkit-animation: fadeIn 0.25s forwards;
}

#buttons, #menuGroup {
    float: left;
    display: flex;
    flex-direction: column;
    &>input {
        flex: 1;
        margin: 2px 3px;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background: white;
        box-shadow: 0 2px 5px 0 gray;
        transition-duration: 150ms;
        &:not([disabled]):hover {
            cursor: pointer;
            box-shadow: 0 4px 10px 2px gray;
        }
        &[disabled] {
            box-shadow: none !important;
            background: #e2e2e2;
        }
    }
}

#aguarde {
    margin-top: 10%;
    font-size: 2em;
    float: left;
}
#aguarde.hide {
    animation: fadeOut 0.25s forwards;
    -webkit-animation: fadeOut 0.25s forwards;
}

#menuGroup {
    visibility: hidden;
    &>input {
        text-align: left;
    }
}
#menuGroup.show {
    visibility: visible !important;
    animation: fadeIn 0.25s forwards;
    -webkit-animation: fadeIn 0.25s forwards;
}
#menuGroup.hide {
    visibility: hidden !important;
    animation: fadeOut 0.25s forwards;
    -webkit-animation: fadeOut 0.25s forwards;
}

#toggleInput.disabled {
    background-color: #ffc6c6;
}
#toggleInput.enabled {
    background-color: #c6ffc6;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50px, 0);
        -webkit-transform: translate(-50px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
    }
}
@keyframes fadeOut {
    from {
        visibility: visible;
        opacity: 1;
        transform: translate(0);
        -webkit-transform: translate(0);
    }

    to {
        visibility: hidden;
        opacity: 0;
        transform: translate(50px, 0);
        -webkit-transform: translate(-50px, 0);
    }
}
.fadeOut {
    animation-name: fadeOut;
}
.fadeIn {
    animation-name: fadeIn;
}