:root{
    --footer-size: 60px;
}

@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
}
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    margin-top: 100px;
    margin-bottom: calc(var(--footer-size) + 10px);
    padding: 0;
    background: #222;
    color: white;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    overflow: hidden;
    padding: 20px 10px;
    background: #333;
}

.topnav {
    top: 50px;
    left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #333;

    a {
        font-size: 1.5em;
        float: left;
        text-align: center;
        margin: 0 3px;
        padding: 10px;
        line-height: 25px;
        border-radius: 5px;
        color: white;
        background-color: rgb(182, 156, 156);
        text-decoration: none;
        transition-duration: 150ms;
        
        &:hover {
            background-color: rebeccapurple;
            cursor:pointer;
        }
    }
}


h1 {
    margin: 10px auto;
    font-size: 3em;
    width:max-content;
}

li {
    font-size: 2rem;
    width: max-content;
    margin: 4px;
    padding: 4px;
    list-style: none;
    font-weight: bold;

    input {
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 0.6em;
        background-color: blueviolet !important;
        color: white !important;
        -webkit-text-fill-color: white !important;
        transition-duration: 150ms;

        &:hover {
            box-shadow: inset 1px 0px 5px 0px black;
            cursor: pointer;
        }

        &:focus {
            box-shadow: inset 1px 0px 9px 0px black;
            background-color: blue !important;
        }
    }

    &::after {
        margin-left: 10px;
        font-size: .4em;
    }

    &.DD {
        background-image: linear-gradient(to right, white, rgb(255, 138, 138));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Destroyer';
        }
    }
    
    &.CA {
        background-image: linear-gradient(to right, white, rgb(255, 224, 85));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Heavy Cruiser';
        }
    }
    
    &.CL {
        background-image: linear-gradient(to right, rgb(252, 203, 203), rgb(255, 224, 85));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Light Cruiser';
        }
    }
    
    &.BC {
        background-image: linear-gradient(to right, rgb(252, 203, 203),  rgb(138, 156, 255));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Battlecruiser';
        }
    }
    
    &.BB {
        background-image: linear-gradient(to right, white, rgb(138, 156, 255));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Battleship';
        }
    }
    
    &.BBV {
        background-image: linear-gradient(to right, rgb(85, 255, 122), rgb(138, 156, 255));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Aviation Battleship';
        }
    }
    
    &.CV {
        background-image: linear-gradient(to right, white, rgb(85, 255, 122));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Aircraft Carrier';
        }
    }
    
    &.CVL {
        background-image: linear-gradient(to right, rgb(252, 203, 203), rgb(85, 255, 122));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Light Aircraft Carrier';
        }
    }
    
    &.MNT {
        background-image: linear-gradient(to right, rgb(203, 220, 252), rgb(76, 0, 255));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width:max-content;
        &::after {
            content: 'Monitor';
        }
    }
}


footer {
    height: var(--footer-size);
    line-height: var(--footer-size);
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}